---

---

<main>
    <section>
        <h2>O mně</h2>
        <p>Jmenuji se&nbsp;Petr Nohel a&nbsp;kandiduji na&nbsp;děkana KTF, protože si myslím, že&nbsp;mohu přispět ke&nbsp;stabilizaci a&nbsp;rozvoji fakulty, na&nbsp;které&nbsp;jsem studoval a&nbsp;kterou mám rád. Za&nbsp;svoji největší přednost považuji orientaci v&nbsp;univerzitním prostředí (univerzitu znám jako pregraduální student, doktorand, vyučující i&nbsp;jako administrativní pracovník RUK) a&nbsp;zároveň znalost prostředí církevního. Zkušenosti, které&nbsp;jsem nabyl v&nbsp;oblasti vedení týmů či&nbsp;projektovém řízení a&nbsp;financování mohou být nyní pro&nbsp;fakultu přínosem.</p>
        <p>Vystudoval jsem žurnalistiku (FSV UK), andragogiku (FF UPOL) a&nbsp;teologii (KTF UK, doktorské studium jsem absolvoval ve&nbsp;specializaci kanonické právo pod&nbsp;vedením prof.&nbsp;I. A. Hrdiny). V&nbsp;letech 2010-2012 jsem byl&nbsp;studentským senátorem v&nbsp;Akademickém senátu KTF UK, později jsem v&nbsp;letech 2015-2018 působil v&nbsp;Legislativní komisi téhož senátu. S&nbsp;fakultou mě pojí také výuka, neboť na&nbsp;KTF třetím rokem vedu kurz CŽV/U3V Genealogie a&nbsp;heraldika: vybrané pomocné vědy historické a&nbsp;jejich aplikace, a&nbsp;také na&nbsp;KTF organizuji výroční konferenci Heraldické symposium.</p>
        <p>S badatelským prostředním stále udržuji živý kontakt. Vedle zvaných přednášek a&nbsp;účastí na&nbsp;konferencích jsem v&nbsp;roce 2019 publikoval monografii o&nbsp;proměnách výuky kanonického práva ve&nbsp;20. století a&nbsp;pravidelně publikuji v&nbsp;recenzovaných časopisech a&nbsp;sbornících. Jsem také členem České genealogické a&nbsp;heraldické společnosti v&nbsp;Praze, Společnosti pro&nbsp;církevní právo a&nbsp;Evropské společnosti pro&nbsp;katolickou teologii (v jejíž české sekci působím jako jeden z&nbsp;místopředsedů).</p>
        <p>V univerzitním prostředí se&nbsp;pohybuji od&nbsp;roku 1997. Na&nbsp;Univerzitu Karlovu jsem přišel v&nbsp;roce 2000 jako student, od&nbsp;roku 2009 jsem zde v&nbsp;zaměstnaneckém poměru, pracuji na&nbsp;rektorátu jako vedoucí Oddělení interních programů na&nbsp;Odboru pro&nbsp;vědu a&nbsp;výzkum. V&nbsp;minulosti jsem pracoval v&nbsp;soukromé sféře, ve&nbsp;státní sféře i&nbsp;jako živnostník.</p>
    </section>

    <section>
        <h2>Podporují mě</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia veritatis at molestiae consectetur vel velit odit quisquam nulla recusandae doloremque, excepturi vitae esse ipsa numquam quidem similique dolor repudiandae aperiam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit et ipsam in quasi quod at labore, molestias sint autem natus repudiandae nihil explicabo rem quisquam eligendi maiores saepe rerum debitis!</p>
    </section>
</main>

<style>
    section {
        padding-block: 3rem;
    }

    section:not(:last-of-type) {
        border-bottom: 0.2rem solid var(--red);
    }

    h2 {
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: var(--red);
        text-align: center;
        margin-bottom: .6em;
    }

    p {
        line-height: 1.6;
        margin-bottom: .6em;
    }
</style>