---

---

<main>
    <section>
        <h2>O mně</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia veritatis at molestiae consectetur vel velit odit quisquam nulla recusandae doloremque, excepturi vitae esse ipsa numquam quidem similique dolor repudiandae aperiam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit et ipsam in quasi quod at labore, molestias sint autem natus repudiandae nihil explicabo rem quisquam eligendi maiores saepe rerum debitis!</p>
    </section>

    <section>
        <h2>Podporují mě</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia veritatis at molestiae consectetur vel velit odit quisquam nulla recusandae doloremque, excepturi vitae esse ipsa numquam quidem similique dolor repudiandae aperiam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit et ipsam in quasi quod at labore, molestias sint autem natus repudiandae nihil explicabo rem quisquam eligendi maiores saepe rerum debitis!</p>
    </section>
</main>

<style>
    section {
        padding-block: 3rem;
    }

    section:not(:last-of-type) {
        border-bottom: 0.2rem solid var(--red);
    }

    h2 {
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: var(--red);
        text-align: center;
        margin-bottom: .6em;
    }

    p {
        line-height: 1.6;
        margin-bottom: .6em;
    }
</style>