---

---

<main>
    <section>
        <h2>O mně</h2>
        <p>Jmenuji se Petr Nohel a kandiduji na děkana KTF, protože si myslím, že mohu přispět ke stabilizaci a rozvoji fakulty, na které jsem studoval a kterou mám rád. Za svoji největší přednost považuji orientaci v univerzitním prostředí (univerzitu znám jako pregraduální student, doktorand, vyučující i jako administrativní pracovník RUK) a zároveň znalost prostředí církevního. Zkušenosti, které jsem nabyl v oblasti vedení týmů či projektovém řízení a financování mohou být nyní pro fakultu přínosem.</p>
        <p>Vystudoval jsem žurnalistiku (FSV UK), andragogiku (FF UPOL) a teologii (KTF UK, doktorské studium jsem absolvoval ve specializaci kanonické právo pod vedením prof. I. A. Hrdiny). V letech 2010-2012 jsem byl studentským senátorem v Akademickém senátu KTF UK, později jsem v letech 2015-2018 působil v Legislativní komisi téhož senátu. S fakultou mě pojí také výuka, neboť na KTF třetím rokem vedu kurz CŽV/U3V Genealogie a heraldika: vybrané pomocné vědy historické a jejich aplikace, a také na KTF organizuji výroční konferenci Heraldické symposium.</p>
        <p>S badatelským prostředním stále udržuji živý kontakt. Vedle zvaných přednášek a účastí na konferencích jsem v roce 2019 publikoval monografii o proměnách výuky kanonického práva ve 20. století a pravidelně publikuji v recenzovaných časopisech a sbornících. Jsem také členem České genealogické a heraldické společnosti v Praze, Společnosti pro církevní právo a Evropské společnosti pro katolickou teologii (v jejíž české sekci působím jako jeden z místopředsedů).</p>
        <p>V univerzitním prostředí se pohybuji od roku 1997. Na Univerzitu Karlovu jsem přišel v roce 2000 jako student, od roku 2009 jsem zde v zaměstnaneckém poměru, pracuji na rektorátu jako vedoucí Oddělení interních programů na Odboru pro vědu a výzkum. V minulosti jsem pracoval v soukromé sféře, ve státní sféře i jako živnostník.</p>
    </section>

    <section>
        <h2>Podporují mě</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia veritatis at molestiae consectetur vel velit odit quisquam nulla recusandae doloremque, excepturi vitae esse ipsa numquam quidem similique dolor repudiandae aperiam.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit et ipsam in quasi quod at labore, molestias sint autem natus repudiandae nihil explicabo rem quisquam eligendi maiores saepe rerum debitis!</p>
    </section>
</main>

<style>
    section {
        padding-block: 3rem;
    }

    section:not(:last-of-type) {
        border-bottom: 0.2rem solid var(--red);
    }

    h2 {
        font-size: 2rem;
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        color: var(--red);
        text-align: center;
        margin-bottom: .6em;
    }

    p {
        line-height: 1.6;
        margin-bottom: .6em;
    }
</style>